[submodule "lib/vendor/spdlog"]
	path = lib/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/vendor/GLFW"]
	path = lib/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "lib/vendor/imgui"]
	path = lib/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/vendor/glm"]
	path = lib/vendor/glm
	url = https://github.com/g-truc/glm.git
