[submodule "LycheeCore/lib/vendor/imgui"]
	path = LycheeCore/lib/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "LycheeCore/lib/vendor/yaml-cpp"]
	path = LycheeCore/lib/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "LycheeCore/lib/vendor/spdlog"]
	path = LycheeCore/lib/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "LycheeCore/lib/vendor/glfw"]
	path = LycheeCore/lib/vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "LycheeCore/lib/vendor/glm"]
	path = LycheeCore/lib/vendor/glm
	url = git@github.com:g-truc/glm.git